.row {
    margin: 0 !important;
}

.navBarCont {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 80px;
    width: 100%;
    /* background-color: blue; */
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center !important;
    padding-right: 0 !important;
}

.navBarCont img {
    height: 0%;
    align-self: center;
}

.navBarCont.scrolled {
    background-color: #333 !important;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.navBar a {
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    /* transform: animation;
    animation-duration : 2s ease-in-out ; */
}

.navBar a:hover {
    color: #f4dc00;


}

section {
    height: 80vh;
    width: 100% !important;
}

.queEs {
    padding: 12rem;
    /* height: 70vh !important; */
    height: auto;
    background-color: #1f89f6;
    width: 65%;
    top: -100px;
    z-index: -9;
    border-bottom-right-radius: 85px;
    position: relative;
    box-shadow: 5px 12px 14px -10px #333558;
}

.queEs p,
h1 {
    color: #ffffff;
    padding-left: 65px;
}

.queEs h1 {
    color: #ffffff;
    padding-top: 70px;
    font-size: 50px;
}

.queEs div {
    margin-top: 40px;
    margin-left: 175px;
    width: 80%
}

.comoAccedo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 210px;
    padding-right: 120px;
    width: 100% !important;
    /* height: 100vh; */
    height: auto;
    /* background-color: #0066ff; */

}

.comoAccedoContenido {
    /* background-color: #0066ff; */
    padding: 45px;
    padding-left: 35px !important;
    border-bottom-left-radius: 25px;
    box-shadow: -11px 12px 14px -4px #414164;
}

.comoAccedo h1 {
    color: #000000;

}

.comoAccedo p {
    color: #000000;
    margin-right: 80px;

}

.comoAccedo img {
    box-shadow: 5px 5px 15px 2px #333558;
    height: 450px;
    border-radius: 10px;
}

.btn {
    background-color: #1f89f6 !important;
}

.btn:hover {
    background-color: #f4dc00 !important;
    color: #333 !important
}

.imgQueEs {
    height: 620px;
    top: 0;
    width: 700px !important;
    position: absolute;
    z-index: -10;
    right: 0;
    border-bottom-left-radius: 25%;
}

.comoRegistro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 40px !important;
    background-color: #2eb1ff;
    /* height: 100vh; */

}

.comoRegistro p {
    color: #ffffff
}

.comoRegistro h1 {
    color: #ffffff;
    font-size: 36px;
}

.comoRegistro img {
    width: 90%;
    border-radius: 20px;
    margin-left: 8.7px;
}

.terminosCondiciones {
    height: 110vh;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;

}

.terminosCondiciones h1 {
    font-size: 30px;
}

.terminosCondiciones h1,
p {
    color: #000000;
    padding: 0px 25px 0px 25px;
}

.terminosCondicionesContenido {
    columns: 2;
    margin-top: 50px;

}

.terminosCondicionesContenido div {
    padding-top: 20px;
    border-radius: 10px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #2eb1ff;
    margin: 20px;
    box-shadow: 5px 5px 10px -1px #1f89f6;
    text-align: center;

}

.restablecerClave {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 0px 40px;
    background-color: #1f89f6;
    color: #ffffff;
    padding-top: 150px;
    text-align: left;
}


.restablecerClave p,
h1 {
    text-align: center;
    color: #ffffff;

}

.restablecerClave img {
    border-radius: 10px;
    align-self: center;
    margin-top: 30px;
    width: 50% !important;
    box-shadow: 5px 5px 15px 2px #333558;

}



@media (max-width: 1530px) {
    .navBar {
        width: 80%;
    }

    .queEs {
        padding: 170px;
        padding-left: 100px;
    }

    .comoAccedo {
        height: auto;
        padding: 8%;
        width: 100%;
        margin-bottom: 0 !important;
    }

    .comoRegistro {
        height: auto;
        padding: 8%;
    }

    .comoRegistro img {
        width: 600px;

    }

    .terminosCondiciones {
        padding-top: 8%;
        padding-bottom: 5%;
        height: auto;
    }

    .restablecerClave {
        height: auto;
        padding: 8%;
    }

    .restablecerClave img {
        width: 80% !important;

    }

    .aa p,
    h1 {
        padding-left: 0 !important;
        margin-left: 0 !important
    }
}

@media (max-width: 1270px) {

    .navBar {
        width: 75%;
    }

    .comoAccedo {
        padding-left: 110px;
        padding-right: 0px;
        padding-top: 80px;
        margin-bottom: 120px !important;
        width: 100% !important;
    }

    .comoRegistro {
        padding-left: 5%;
        padding-right: 5%;
    }

    .comoRegistro img {
        width: 90%;
    }

    .comoRegistro p {
        color: #ffffff;
        font-size: 15px;
    }

    .comoRegistro h1 {
        color: #ffffff;
        font-size: 25px;
    }


    /* 
    .terminosCondiciones {
        height: 135vh;
    } */

}

@media (max-width: 1180px) {
    .navBar {
        width: 80%;
    }

    .imgQueEs {
        display: none;
    }

    .queEsSecction {
        height: auto;
    }

    .queEs {
        width: 100%;
        padding-top: 18%;
        height: auto !important;
    }

    .terminosCondiciones {
        /* height: 145vh; */
        padding: 5%;
        padding-top: 10%;
    }
}

@media (max-width: 1090px) {

    .comoAccedo {
        flex-direction: column-reverse !important;
        /* height: 150vh; */
        height: auto;
        padding: 8%;
        width: 100%;
        margin-bottom: 0 !important;
    }

    .comoAccedo img {
        margin: 50px;
    }

    .comoAccedo p {
        padding-right: 0;
        margin-right: 0;
    }

    .comoRegistro {
        display: flex !important;
        flex-direction: column !important;
        /* height: 125vh; */
        padding-top: 10%;
    }

    .comoRegistro h1 {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-size: 25px;
    }

    .comoRegistro img {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    .comoRegistro p {
        color: #ffffff;
        font-size: 15px;
    }

    /* .terminosCondiciones {
        height: 155vh;
    } */
}

/* @media (max-width: 987px) {
    .restablecerClave {
        height: 110vh;
    }
} */

.restablecerClave img {
    width: 90%;
}

/* .terminosCondiciones {
     height: 170vh; 
} */

@media (max-width: 895px) {
    .queEs {
        padding: 20% 15% 15% 15%;
    }

    /* .comoAccedo {
        height: 170vh;
    } */

    /* .terminosCondiciones {
        height: 180vh;
    } */

    .restablecerClave {
        padding-top: 15%;
    }

    /* 
    .restablecerClave img {
        width: 350px;
    } */
}

@media (max-width: 830px) {
    /* .comoAccedo {
         height: 140vh; 
    } */

    .comoRegistro {
        padding-top: 15%;
    }

    .terminosCondiciones {
        padding-top: 15%;
        /* height: 190vh; */
    }
}

@media (max-width: 800px) {
    .restablecerClave img {
        width: 300px;
    }

}

@media (max-width: 770px) {

    /* .terminosCondiciones {
        height: 200vh; 
    } */

    .restablecerClave {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }

    .restablecerClave div {
        width: 100%;
        padding-bottom: 8%;
    }
}

@media (max-width: 760px) {
    .queEs div {
        margin-top: 20px !important;
        margin-left: 15px !important;
        width: 80%
    }

    /* 
    .comoAccedo {
         height: 140vh;
    } */

    .comoRegistro {
        justify-content: center !important;
        align-items: center !important;
        margin-top: 0 !important;
    }

    .comoRegistro h1 {
        align-self: center;
    }

    .comoRegistro p {
        align-self: center;
        margin-left: 0;
        padding-left: 0;
    }

    .comoRegistroContenido {
        padding-left: 80px;
    }



}

@media (max-width: 750px) {
    .navBar {
        display: none
    }
}

@media (max-width: 740px) {
    .queEs {
        padding: 20% 10% 10% 10%;
    }

    /* .terminosCondiciones {
        height: 210vh;
    } */
}

/* @media (max-width: 700px) {

    .terminosCondiciones {
     height: 230vh;
    }
} */

@media (max-width: 620px) {

    .queEs {
        padding-top: 25%;
    }

    /* .terminosCondiciones {
        height: 250vh;
    } */
    .terminosCondicionesContenido {
        columns: 1;

    }

}

@media (max-width: 450px) {
    .comoRegistro img {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
    }

    /* 
    .comoRegistro {
        height: 120vh;
    } */

    .subt {
        text-align: center;
    }

    /* 
    .terminosCondiciones {
        height: 285vh;
    }

    .restablecerClave {
        height: 180vh;
    } */

    .restablecerClave image {
        margin-bottom: 30px !important;

    }
}

@media (max-width: 400px) {
    .queEs {
        padding-top: 140px;
        /* height: 280vh; */
    }

    .queEs h1 {
        font-size: 30px;
    }

    /* 
    .comoAccedo {
        height: 150vh;
    } */
    /* 
    .terminosCondiciones {
        height: 350vh;
    } */

    /* .restablecerClave {
        height: 190vh;
    } */
}

@media (max-width: 370px) {
    .queEs {
        padding: 110px 5% 5% 5%;
        /* padding-top: ; */
        /* height: 300vh; */
        /* padding-left: 10px; */
    }

    .queEs h1 {
        font-size: 30px;
    }

    .comoRegistroContenido {
        padding: 0;
    }

    .comoAccedoContenido {
        padding-right: 0;
    }

    /* 
    .comoAccedo {
        height: 180vh;
    } */
    /* 
    .terminosCondiciones {
        height: 420vh;
    } */

    /* .restablecerClave {
        height: 250vh;
    } */
}